<!DOCTYPE HTML>
<html>
<head>
    <title>SocketIO Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket = io('http://51.79.248.73:3004', {
                transports: [ 'websocket' ]
            });

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
                socket?.emit('joinRoom', {
                    room: `<%=roomId%>`,
                    data: `<%=data%>`
                })
            });

            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                $('#transport').text(socket.io.engine.transport.name);
                socket.emit('my_ping');
            }, 1000);

            socket.on('joined', function(data) {
                console.log("joined",data);
            });
            socket.on('message', function(data) {
                console.log("message",data);
            });

            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                $('#ping-pong').text(latency);
            });
        });
    </script>
</head>
<body>
    <h1>SocketIO Test</h1>
    <p>
        Room Id: <b><%=roomId%></b><br>
        Data: <b><%=data%></b><br>
        Async mode is: <b>{{ async_mode }}</b><br>
        Current transport is: <b><span id="transport"></span></b><br>
        Average ping/pong latency: <b><span id="ping-pong"></span>ms</b>
    </p>
</body>
</html>